.app > * {
  flex-basis: 100%;
  padding: 0.5rem;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.headerSearch {
  background: linear-gradient(
    90deg,
    rgba(172, 199, 249, 1) 0%,
    rgba(206, 255, 198, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
}

.headerSearch > * {
  margin: 0.7rem;
}

.search {
  width: 50vw;
  border-radius: 20px;
  border: solid black 1px;
  text-align: center;
  padding: 0.3rem;
  background: rgba(0, 0, 0, 0.3);
}

.search::placeholder {
  color: white;
}

.pokemonList {
  background-color: white;
  color: black;
}

.colorfulBorder {
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(78, 78, 255, 1) 0%,
    rgba(6, 237, 114, 1) 100%
  );
  border-width: 5px 0;
}

.bottomNav {
  background: linear-gradient(
    90deg,
    rgba(172, 199, 249, 1) 0%,
    rgba(206, 255, 198, 1) 100%
  );
}
